/* Estilos generales */
.container {
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Estilos para la información de la clase */
#class-info {
  text-align: left;
  padding-top: 0px;
  .class {
    width: 100%;
    .fecha-hora {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    p {
      color: #4A6F00;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}

/* Estilos para el botón de log-out */
ion-fab-button {
  --background: #FFFFFF;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  --color: #e02f36;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  transition: background-color 0.3s ease;

  &:hover {
    --background: #e02f36;
    --color: #FFFFFF;
  }
}

/* Estilos de la lista desplegable*/
ion-list {
  ion-item {
    border-radius: 50px;
    background: #ffffff;
    color: #1E2B00;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

    &:hover {
      border-color: #98B90A;
    }
  }

}


.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;

  #btn-finalizar,
  #btn-iniciar {
    width: 40%;
    padding: 1.25em;
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border: 1px solid #eee;
    border-radius: 2em;
    font-weight: bold;
    cursor: pointer;
  }

  #btn-finalizar {
    background-color: red;
    color: #FFFFFF;
  }

  #btn-iniciar {
    background-color: #4A6F00;
    color: #FFFFFF;
  }

}

h2 {
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
}

.divider {
  width: 90%;
  height: 1px;
  background-color: #ccc;
  margin: 10px auto;
}