<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button (click)="goToLogin()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h2>Inicia una clase</h2>

  <ion-list class="ion-padding custom-list">
    <ion-item>
      <ion-select [(ngModel)]="selectedClase" (ionChange)="fetchClases()" aria-label="Fecha" interface="popover"
        placeholder="Fecha y hora">
        <ion-select-option *ngFor="let clase of clases" [value]="clase.fecha_hora">{{ clase.formatted }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="button-group">
    <button *ngIf="showFinalizarButton" id="btn-finalizar" (click)="finalizarClase()">Finalizar</button>
    <button *ngIf="showIniciarButton" id="btn-iniciar" (click)="iniciarClase()">Iniciar</button>
  </div>

  <div class="divider"></div>

  <div id="class-info" class="container">
    <div *ngFor="let clase of clases" class="class">
      <h1 class="fecha-hora">{{ clase.formatted }}</h1>
      <h4>{{ clase.materia }}</h4>
      <p>{{ clase.salon }}</p>
      <p>Estado: {{ clase.estado }}</p>
      <div class="divider"></div>
    </div>
  </div>
</ion-content>
