.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loading-message {
    margin-top: 10px;
  }
  
  .content-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-out {
    opacity: 1;
  }

  