<ion-header collapse="fade" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Nuevo tutor:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <form #registerForm="ngForm">
      <!-- Matricula -->
      <ion-item lines="none" class="input-rounded ion-margin-bottom">
        <ion-icon slot="start" name="finger-print" color="secondary"></ion-icon>
        <ion-input type="text" placeholder="Matrícula" color="primary" [(ngModel)]="matricula"
          name="matricula"></ion-input>
      </ion-item>
      <!-- Nombre -->
      <ion-item lines="none" class="input-rounded ion-margin-bottom">
        <ion-icon slot="start" name="person" color="secondary"></ion-icon>
        <ion-input type="text" placeholder="Nombre completo (apellidos-nombre)" color="primary" [(ngModel)]="nombre" name="nombre" (input)="nombre = nombre.toUpperCase()"></ion-input>
      </ion-item>
      <!-- Email -->
      <ion-item lines="none" class="input-rounded ion-margin-bottom">
        <ion-icon slot="start" name="person" color="secondary"></ion-icon>
        <ion-input type="text" placeholder="Correo" color="primary" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <!-- Contraseña -->
      <ion-item lines="none" class="input-rounded ion-margin-bottom">
        <ion-icon slot="start" name="key" color="secondary"></ion-icon>
        <ion-input type="password" placeholder="Contraseña" color="primary" [(ngModel)]="password"
          name="password"></ion-input>
      </ion-item>
      <!-- Confirmar contraseña -->
      <ion-item lines="none" class="input-rounded ion-margin-bottom">
        <ion-icon slot="start" name="key" color="secondary"></ion-icon>
        <ion-input type="password" placeholder="Confirmar contraseña" color="primary" [(ngModel)]="confirmPassword"
          name="confirmPassword"></ion-input>
      </ion-item>
      <!-- Botón de registrar -->
      <button (click)="register()" id="register-admin-button">Registrar</button>
      <!-- <ion-alert trigger="register-admin-button" header="¡Registro exitoso!" message="Se ha registrado el administrador correctamente"
          [buttons]="['OK']"></ion-alert> -->
    </form>
  </div>
</ion-content>