<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <form>
      <h1 id="h1-welcome">
        <span>Hola,</span>
        <br>
        <span>Bienvenido</span>
        <br>
        <span>De vuelta</span>
      </h1>
      <ion-item lines="none" class="input-rounded ion-margin-bottom">
        <ion-icon slot="start" name="person" color="secondary"></ion-icon>
        <ion-input type="text" placeholder="Correo" color="primary"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-rounded">
        <ion-icon slot="start" name="key" color="secondary"></ion-icon>
        <ion-input type="password" placeholder="Contraseña" color="primary"></ion-input>
      </ion-item>
      <div class="form-links">
        <div id="link-forgot-container">
          <a (click)="goToForgotPassword()" id="forgot-password-link">¿Olvidaste tu contraseña?</a>
        </div>
        <button id="login-button">Iniciar sesión</button>
        <a (click)="goToRegister()" id="register-link">¿No tienes una cuenta? Regístrate</a>
      </div>
    </form>
  </div>
</ion-content>
