.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #h1-title-search {
    font-weight: bold;
    font-size: 32px;
    color: #1E2B00;
    margin: 0.5em 0 0 0.5em;
  }
  
  .subject-selection {
    margin-bottom: 40px;
  }
  
  .subject-selection label {
    font-weight: bold;
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .subject-selection ion-select {
    --background: #FFFFFF;
    border-radius: 4px;
    --color: #333;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  .subject-selection ion-select::part(text) {
    color: #555;
  }
  
  .subject-selection ion-select::part(placeholder) {
    color: #888;
  }
  
  .subject-selection ion-select::part(placeholder),
  .subject-selection ion-select::part(text) {
    font-size: 16px;
  }
  
  ion-list ion-item {
    border-radius: 50px;
    background: #ffffff;
    color: #1E2B00;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  
  ion-list ion-item:hover {
    border-color: #98B90A;
  }
  