<ion-content [fullscreen]="true">
  <div class="container ion-padding">
    <h1 id="h1-title-search">Busque sus listas</h1>
    <div class="container">
      <ion-list class="ion-padding custom-list">
        <ion-item>
          <ion-select aria-label="Materia" interface="popover" placeholder="Materia">
            <ion-select-option value="primera">Primera</ion-select-option>
            <ion-select-option value="segunda">Segunda</ion-select-option>
            <ion-select-option value="tercera">Tercera</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item>
          <ion-select aria-label="Fecha" interface="popover" placeholder="Fecha">
            <ion-select-option value="primera">06-07-2023</ion-select-option>
            <ion-select-option value="segunda">07-07-2023</ion-select-option>
            <ion-select-option value="tercera">08-07-2023</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
