<ion-content [fullscreen]="true">
  <div class="container ion-padding">
    <h1 id="h1-title-search">Busque sus listas</h1>
    <div class="container">
      <ion-fab slot="fixed" vertical="top" horizontal="end">
        <ion-fab-button size="small">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
      <ion-list class="ion-padding custom-list">
        <ion-item>
          <ion-select aria-label="Materia" interface="popover" placeholder="Materia">
            <ion-select-option value="primera">Primera</ion-select-option>
            <ion-select-option value="segunda">Segunda</ion-select-option>
            <ion-select-option value="tercera">Tercera</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item>
          <ion-select aria-label="Fecha" interface="popover" placeholder="Fecha">
            <ion-select-option value="primera">06-07-2023</ion-select-option>
            <ion-select-option value="segunda">07-07-2023</ion-select-option>
            <ion-select-option value="tercera">08-07-2023</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <table>
        <!-- Encabezado de la tabla -->
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre completo</th>
            <th>Asistencia</th>
          </tr>
        </thead>
        <!-- Filas de la tabla -->
        <tbody>
          <tr>
            <td>1</td>
            <td>César Castillo</td>
            <td>Presente</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Gianluca Nájera</td>
            <td>Ausente</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Edgar Sánchez</td>
            <td>Tardío</td>
          </tr>
        </tbody>
      </table>
      <button id="btn-gen-doc">Generar documento</button>
    </div>
  </div>
</ion-content>
