

<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-label> ID del Alumno: {{ userId }}</ion-label>
  </ion-fab>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="clases">
        <ion-icon name="book"></ion-icon>
        <ion-label>Clases</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="asis">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>Asistencia</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
