.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #h1-title-search {
    font-weight: bold;
    font-size: 32px;
    color: #1E2B00;
    margin: 0.5em 0 0 0.5em;
  }
  
  .subject-selection {
    margin-bottom: 40px;
  }
  
  .subject-selection label {
    font-weight: bold;
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .subject-selection ion-select {
    --background: #FFFFFF;
    border-radius: 4px;
    --color: #333;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  .subject-selection ion-select::part(text) {
    color: #555;
  }
  
  .subject-selection ion-select::part(placeholder) {
    color: #888;
  }
  
  .subject-selection ion-select::part(placeholder),
  .subject-selection ion-select::part(text) {
    font-size: 16px;
  }
  
  ion-list ion-item {
    border-radius: 50px;
    background: #ffffff;
    color: #1E2B00;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
   

  }
  
  ion-list ion-item:hover {
    border-color: #98B90A;
    
  }

   
  .list-1{
    margin-top: 70px;
  }
  .list-2{
    margin-top: 15px;
  }

  table {
    margin-top: 2em;
    text-align: center;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin: auto;

    thead {
        background-color: #4A6F00;
        color: #ffffff;
    }

    th,
    td {
        padding: 1em;
    }
}
#btn-gen-doc {
    width: 50%;
    padding: 1.5em;
    margin: auto;
    margin-top: 2em;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: #ffffff;
    color: #4A6F00;
    border: 1px solid #eee;
    border-radius: 2em;
    font-weight: bold;
    cursor: pointer;
    
   

    &:hover {
        background-image: linear-gradient(to right top, #1e2b00, #233008, #29350f, #2f3b14, #35401a);
        color: #fff;
    }
}

.boton1{
display: flex;
justify-content: center;
}
.boton2{
  display: flex;
  justify-content: center;
  }