<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Buscar -->
    <ion-tab-button tab="buscar">
      <ion-icon name="search"></ion-icon>
      Buscar
    </ion-tab-button>
    <!-- Add clase -->
    <ion-tab-button tab="add-class">
      <ion-icon name="school"></ion-icon>
      Agregar clase
    </ion-tab-button>
    <!-- Add tutor -->
    <ion-tab-button tab="add-tutor">
      <ion-icon name="person-add"></ion-icon>
      Agregar tutor
    </ion-tab-button>
    <!-- Add admin -->
    <ion-tab-button tab="add-admin">
      <ion-icon name="build"></ion-icon>
      Agregar admin
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>