<ion-header [translucent]="true">
</ion-header>
<ion-buttons>
</ion-buttons>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <form>
      <h1 id="h1-welcome">
        <span>Recuperar contraseña</span>
      </h1>
      <ion-item lines="none" class="input-rounded ion-margin-bottom">
        <ion-icon slot="start" name="person" color="secondary"></ion-icon>
        <ion-input type="text" placeholder="Correo" color="primary"></ion-input>
      </ion-item>
      <div class="form-links">
        <button id="reset-password-button" (click)="goToLogin()">Restablecer contraseña</button>
      </div>
    </form>
  </div>
</ion-content>