<ion-content [fullscreen]="true">
  <div class="container ion-padding">
    <h1 id="h1-title">Busque sus listas</h1>
    <div class="container">
      <ion-fab slot="fixed" vertical="top" horizontal="end">
        <ion-fab-button (click)="goToLogin()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="selectedMateria" (ionChange)="fetchFechas()" aria-label="Materia" interface="popover" placeholder="Materia">
            <ion-select-option *ngFor="let materia of materias" [value]="materia">{{ materia }}</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item *ngIf="selectedMateria">
          <ion-select [(ngModel)]="selectedFechaRaw" (ionChange)="fetchClase()" aria-label="Fecha" interface="popover" placeholder="Fecha">
            <ion-select-option *ngFor="let fecha of fechas" [value]="fecha.raw">{{ fecha.formatted }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <table *ngIf="clase"> <!-- Verifica si clase está definido -->
        <!-- Encabezado de la tabla -->
        <thead>
          <tr>
            <th>ID</th>
            <th>Asistencia</th>
          </tr>
        </thead>
        <!-- Filas de la tabla -->
        <tbody>
          <tr *ngFor="let alumno of clase.alumnos">
            <td>{{ alumno.matricula }}</td>
            <td>{{ alumno.asistencia }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ion-content>
